adrf==0.1.9
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
asgiref==3.9.1
async-property==0.2.2
attrs==25.3.0
certifi==2025.7.14
charset-normalizer==3.4.2
discord==2.3.2
discord-py==2.5.2
django==5.2.4
django-cors-headers==4.7.0
django-rest-framework==0.1.0
djangorestframework==3.16.0
environs==14.2.0
frozenlist==1.7.0
gunicorn==23.0.0
idna==3.10
markdown==3.8.2
marshmallow==4.0.0
multidict==6.6.3
packaging==25.0
propcache==0.3.2
psycopg2-binary==2.9.10
pyaes==1.6.1
pyasn1==0.6.1
python-dotenv==1.1.1
requests==2.32.4
rsa==4.9.1
sqlparse==0.5.3
telethon==1.40.0
typing-extensions==4.14.1
urllib3==2.5.0
yarl==1.20.1
